.complete-message
    font-size 18px
    margin 32px 0 50px
    text-align center
    .time
        font-size 1.2em
        margin 0 .4em

.parking-panel
    border 2px solid  #aaa
    color #555
    font-size 24px
    font-weight bold
    display table
    margin 0 auto
    padding .8em 1.2em