<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title プチＰ βﾃｽﾄ版
    link(rel="stylesheet", href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    link(rel="stylesheet", href="stylesheets/style.css")
  body
    .container
      nav.navbar
        a.brand-title(href="/")
          | プチＰプロジェクト
          small 学内試験
        if user
          a.navbar-btn.btn-primary(href="/logout") ログアウト
        else
          a.navbar-btn.btn-danger(href="/login") ログイン
    
      block content
  