html, body
    height 100%
    height 100%

body
    background #333

.container
    background #fff
    box-shadow 0 0 2px #000
    box-sizing border-box
    max-width 480px
    margin 0 auto
    min-height 100%
    padding-bottom 140px
    overflow hidden
    position relative