.btn
    border none
    border-radius 6px
    color rgba(#fff, .8)
    font-size 18px
    height 60px
    letter-spacing .1em
    line-height 60px
    margin-top 40px
    padding 0 1.2em
    text-decoration none
    &-block
        display block
        width 100%
    &-center
        display table
        margin-left auto
        margin-right auto
    &-sm
        font-size 15px
        height 40px
        line-height 40px
        margin-top 20px
    &-primary
        background $_primary
    &-info
        background $_info
    &-success
        background $_success
    &-danger
        background $_danger