footer
    background $_theme
    bottom 0
    height 100px
    position absolute
    text-align center
    width 100%
    .thanks
        color rgba(#fff, .8)
        font-size 16px
        height 40px
        line-height 40px
        padding 10px 0
    .contact
        background #555
        color rgba(#fff, .6)
        font-size 12px
        height 40px
        line-height 40px
        a
            margin 0 .4em
            color #fff
            text-decoration none
            &:hover
                color $_danger