.navbar
    align-items center
    background $_theme
    box-sizing border-box
    display flex
    justify-content space-between
    padding 0 3%
    width 100%
    .brand-title
        color #fff
        font-size 16px
        height 60px
        line-height 60px
        text-decoration none
        small
            font-size .7em
            margin-left 5px
    .navbar-btn
        border-radius 4px
        color rgba(#fff, .8)
        height 38px
        line-height 38px
        padding 0 .6em
        text-decoration none
        &.btn-primary
            background $_primary
        &.btn-danger
            background $_danger