.table
    width calc(100% - 64px)
    margin 0 32px
    tr
        width 100%
        border-bottom 1px solid  #ccc
        &:last-child
            border-bottom 0
    th
        color #888
        font-size 13px
        padding 12px 1.2em
        white-space nowrap
        width 10px
    td
        padding 12px 1.2em
        &.success
            color $_success
        &.danger
            color $_danger